<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input type="text" id="usuario" formControlName="usuario" required>
      <div *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched" class="error-message">
        <div *ngIf="loginForm.get('usuario')?.errors?.['required']">Usuário é obrigatório.</div>
        <div *ngIf="loginForm.get('usuario')?.errors?.['pattern']">Usuário inválido (somente letras e números).</div>
      </div>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" id="senha" formControlName="senha" required>
      <div *ngIf="loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched" class="error-message">
        <div *ngIf="loginForm.get('senha')?.errors?.['required']">Senha é obrigatória.</div>
        <div *ngIf="loginForm.get('senha')?.errors?.['pattern']">Senha inválida (somente números).</div>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>