input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="tel"],
input[type="date"], /* Adicionado input[type="date"] */
select {
  border: 2px solid #2AAC6B;
  border-radius: 4px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus,
input[type="date"]:focus, /* Adicionado input[type="date"]:focus */
select:focus {
  outline: none;
  border-color: #2AAC6B;
}

.btn-enviar {
  background-color: #2AAC6B;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 20px;
}

.btn-enviar:hover {
  background-color: #fff;
}