<div class="container">
  <!-- Informações Pessoais -->
  <h4>Informações Pessoais</h4>
  <hr>
  <div class="row">
    <!-- Nome completo -->

    <div class="form-group col-12">
      <label for="nome">Nome completo do paciente:</label>
      <input id="nome" class="form-control" type="text" [(ngModel)]="paciente.nomeCompleto" required />
      <small *ngIf="!paciente.nomeCompleto" class="text-danger">Campo obrigatório.</small>
    </div>

    

    <!-- Nome social -->
    <div class="form-group col-12">
      <label for="nomeSocial">Nome social do paciente:</label>
      <input id="nomeSocial" class="form-control" type="text" [(ngModel)]="paciente.nomeSocial" />
    </div>
  </div>


    <!-- CPF -->
    <div class="form-group col-12">
      <label for="cpf">CPF do Paciente:</label>
      <input id="cpf" class="form-control" type="text" [(ngModel)]="paciente.cpf" />
      <small *ngIf="!paciente.cpf" class="text-danger">Campo obrigatório.</small>
  </div>

  <div class="row mt-3">
    <!-- Nome da mãe -->
    <div class="form-group col-12">
      <label for="nomeMae">Nome da mãe (se existente):</label>
      <input id="nomeMae" class="form-control" type="text" [(ngModel)]="paciente.nomeMae" />
    </div>

    <!-- Nome do pai -->
    <div class="form-group col-12">
      <label for="nomePai">Nome do pai (se existente):</label>
      <input id="nomePai" class="form-control" type="text" [(ngModel)]="paciente.nomePai" />
    </div>
  </div>

  <!-- Dados de Nascimento -->
  <h4>Dados de Nascimento</h4>
  <hr>
  <div class="row mt-3">
    <!-- Data de nascimento -->
    <div class="form-group col-12">
      <label for="dataNascimento">Data de nascimento:</label>
      <input id="dataNascimento" class="form-control" type="date" [(ngModel)]="paciente.dataNascimento" required />
      <small *ngIf="!paciente.dataNascimento" class="text-danger">Campo obrigatório.</small>
    </div>

    <!-- Sexo -->
    <div class="form-group col-12">
      <label for="sexo">Sexo:</label>
      <select id="sexo" class="form-control" [(ngModel)]="paciente.sexo" required>
        <option value="" disabled selected>Selecione...</option>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="Outro">Outro</option>
      </select>
      <small *ngIf="!paciente.sexo" class="text-danger">Campo obrigatório.</small>
    </div>
  </div>

  <!-- Localidade -->
  <h4>Localidade</h4>
  <hr>
  <div class="row mt-3">
    <!-- Nacionalidade -->
    <div class="form-group col-12">
      <label for="nacionalidade">Nacionalidade:</label>
      <input id="nacionalidade" class="form-control" type="text" [(ngModel)]="paciente.nacionalidade" required />
      <small *ngIf="!paciente.nacionalidade" class="text-danger">Campo obrigatório.</small>
    </div>

    <h4>Educação e Situação Familiar</h4>
    <hr>
    <div class="row">
      <div class="form-group col-12">
        <label for="frequentaEscola">Frequenta escola?</label>
        <select id="frequentaEscola" class="form-control" [(ngModel)]="paciente.frequentaEscola">
          <option value="" disabled selected>Selecione...</option>
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
        </select>
      </div>
      <div class="form-group col-12">
        <label for="escolaridade">Escolaridade:</label>
        <input id="escolaridade" class="form-control" type="text" [(ngModel)]="paciente.Escolaridade" />
      </div>
    </div>

    <h4>Estabelecimentos</h4>
  <hr>
  <div class="row">
    <div class="form-group col-12">
      <label for="estabelecimentoVinculo">Estabelecimento de Vínculo:</label>
      <input id="estabelecimentoVinculo" class="form-control" type="text" [(ngModel)]="paciente.estabelecimentoVinculo" required />
    </div>
    <div class="form-group col-12">
      <label for="estabelecimentoCadastro">Estabelecimento de Cadastro:</label>
      <input id="estabelecimentoCadastro" class="form-control" type="text" [(ngModel)]="paciente.estabelecimentoCadastro" required />
    </div>
  </div>



    <!-- Município de nascimento -->
    <div class="form-group col-12">
      <label for="municipioNascimento">Município de nascimento:</label>
      <input id="municipioNascimento" class="form-control" type="text" [(ngModel)]="paciente.municipioNascimento" required />
      <small *ngIf="!paciente.municipioNascimento" class="text-danger">Campo obrigatório.</small>
    </div>
  </div>

  <!-- Outros Dados -->
  <h4>Outros Dados</h4>
  <hr>
  <div class="row mt-3">
    <!-- Raça/Cor -->
    <div class="form-group col-12">
      <label for="racaCor">Raça/Cor:</label>
      <select id="racaCor" class="form-control" [(ngModel)]="paciente.racaCor" required>
        <option value="" disabled selected>Selecione...</option>
        <option value="Branca">Branca</option>
        <option value="Preta">Preta</option>
        <option value="Parda">Parda</option>
        <option value="Amarela">Amarela</option>
        <option value="Indígena">Indígena</option>
      </select>
      <small *ngIf="!paciente.racaCor" class="text-danger">Campo obrigatório.</small>
    </div>

    <!-- Frequenta escola -->
    <div class="form-group col-12">
      <label for="frequentaEscola">Frequenta escola:</label>
      <select id="frequentaEscola" class="form-control" [(ngModel)]="paciente.frequentaEscola">
        <option value="" disabled selected>Selecione...</option>
        <option value="Sim">Sim</option>
        <option value="Não">Não</option>
      </select>
    </div>
  </div>
<!-- Dados de Deficiência -->
<h4>Deficiência</h4>
<hr>
<div class="row mt-3">
  <!-- Deficiência -->
  <div class="form-group col-12">
    <label for="deficiente">Deficiente:</label>
    <select id="deficiente" class="form-control" [(ngModel)]="paciente.deficiente">
      <option value="" disabled selected>Selecione...</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>
   
  </div>

  <!-- Deficiência Visual -->
  <div class="form-group col-12">
    <label for="visual">Deficiência Visual:</label>
    <select id="visual" class="form-control" [(ngModel)]="paciente.visual">
      <option value="" disabled selected>Selecione...</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>
  </div>




  <!-- Deficiência Auditiva -->
  <div class="form-group col-12">
    <label for="auditiva">Deficiência Auditiva:</label>
    <select id="auditiva" class="form-control" [(ngModel)]="paciente.auditiva">
      <option value="" disabled selected>Selecione...</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>
  </div>
</div>

<!-- Deficiência Motora e Intelectual -->
<div class="row mt-3">
  <!-- Deficiência Motora -->
  <div class="form-group col-12">
    <label for="motora">Deficiência Motora:</label>
    <select id="motora" class="form-control" [(ngModel)]="paciente.motora">
      <option value="" disabled selected>Selecione...</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>
    
  </div>

  <!-- Deficiência Intelectual -->
  <div class="form-group col-12">
    <label for="intelectual">Deficiência Intelectual:</label>
    <select id="intelectual" class="form-control" [(ngModel)]="paciente.intelectual">
      <option value="" disabled selected>Selecione...</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>
  </div>
</div>

  <!-- Dados de Contato -->
  <h4>Dados de Contato</h4>
  <hr>
  <div class="row mt-3">
    <!-- Celular -->
    <div class="form-group col-12">
      <label for="celular">Celular:</label>
      <input id="celular" class="form-control" type="tel" [(ngModel)]="paciente.telefoneCelular" required />
      <small *ngIf="!paciente.telefoneCelular" class="text-danger">Campo obrigatório.</small>
    </div>

    <!-- Residencial -->
    <div class="form-group col-12">
      <label for="residencial">Telefone Residencial:</label>
      <input id="residencial" class="form-control" type="tel" [(ngModel)]="paciente.telefoneResidencial" />
    </div>

    <!-- Email -->
    <div class="form-group col-12">
      <label for="email">Email:</label>
      <input id="email" class="form-control" type="email" [(ngModel)]="paciente.email" required />
      <small *ngIf="!paciente.email" class="text-danger">Campo obrigatório.</small>
    </div>
  </div>

  <h4>Endereço</h4>
  <hr>
  <div class="row">
    <div class="form-group col-12">
      <label for="endereco">Endereço:</label>
      <input id="endereco" class="form-control" type="text" [(ngModel)]="paciente.endereco" required />
    </div>
    

  <div class="container">
    <button class="btn-enviar" (click)="gravar();">Enviar</button>
  </div>
  <!-- Exibir a mensagem se houver -->
<div *ngIf="mensagem" class="alert alert-info">
  {{ mensagem }}
</div>




